@font-face {
  font-display: swap;
  font-family: "Maregy";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Maregy/fonts/maregy-font-1713938936-0/MAREGY-BF6625fa3b0f591.otf") format("woff2");
}
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-section__nav-list {
  display: flex;
}

.header-section__nav-list-item {
  list-style-type: none;
}

.header-section__nav-list-item-link {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}
.header-section__nav-list-item-link:visited {
  color: #d0a5c0;
}

.header-section__pyramid-loader {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
  margin-left: 10px;
}

.header-section--left {
  display: flex;
}

.header-section__pyramid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
.header-section__pyramid-loader .header-section__pyramid-wrapper .side {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.header-section__pyramid-loader .header-section__pyramid-wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.header-section__pyramid-loader .header-section__pyramid-wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.header-section__pyramid-loader .header-section__pyramid-wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.header-section__pyramid-loader .header-section__pyramid-wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.about-section {
  height: calc(100vh - 60px);
  display: flex;
  margin-top: 50px;
}

.about-section__wrapper2 {
  width: 60%;
  background-color: #62466B;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}

.about-section__wrapper1 {
  width: 40%;
  background-color: #45364B;
}

.about-section__image {
  width: 60%;
  height: auto;
  margin-top: 20%;
  margin-left: 20%;
  box-shadow: 2px 2px 3px 2px black;
  border-radius: 15px;
}

.about-section__heading {
  font-size: 36px;
  margin-top: 15%;
  margin-left: 20%;
  letter-spacing: 1px;
}

.technologies {
  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  font-size: 40px;
  padding-left: 7px;
}

.tile {
  width: 190px;
  height: 80px;
  box-shadow: 2px 2px 5px black inset;
  position: relative;
  top: -10px;
  right: 10px;
  border-radius: 15px;
}

@media (min-width: 600px) {
  .about-section {
    width: 100%;
  }
  .about-section__wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tile1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .tile2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .tile3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .tile4 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .tile5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .tile6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
.cv-section {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
}

.cv-section__wrapper1 {
  width: 40%;
  background-color: #1A5E63;
}

.cv-section__wrapper2 {
  width: 60%;
  background-color: #B5FFE1;
}

.cv-section__heading {
  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  font-size: 40px;
  padding-left: 7px;
  text-align: center;
  padding-top: 10vh;
}

.cv-section__text {
  font-size: 36px;
  padding: 25vh 5vw 0 5vw;
}

.cv-section__image {
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2px black;
}

.project-section {
  height: 100vh;
  width: 100%;
  display: flex;
}

.project-section__wrapper1 {
  width: 40%;
  background-color: #62466B;
}

.project-section__wrapper2 {
  width: 60%;
  background-color: #45364B;
}

.contact-section {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.contact-section__wrapper1 {
  width: 40%;
  background-color: #B5FFE1;
  text-align: center;
}

.contact-section__wrapper2 {
  width: 60%;
  background-color: #1A5E63;
}

.contact-section__image {
  width: 60%;
  height: auto;
  margin-top: 20%;
  box-shadow: 2px 2px 3px 2px black;
  border-radius: 15px;
}

.contact-section__heading {
  font-size: 40px;
  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  padding-top: 10px;
}

.contact-section__detail-wrapper {
  padding: 1.5% 0 1.5% 5%;
}

.contact-section__text, .contact-section__note {
  font-size: 24px;
  letter-spacing: 1px;
}

input:active, textarea:active {
  outline-color: #45364B;
}

input, textarea {
  border-style: none;
  border-radius: 15px;
  padding: 0.5%;
}

input[type=text], input[type=email] {
  width: 27%;
}

.contact-section__form-button {
  margin: 2% 2% 2% 5%;
  padding: 0.5% 1.5%;
  letter-spacing: 1px;
  border-style: none;
  border-radius: 15px;
  background-color: #B5FFE1;
  color: black;
}

input[type=text]:focus, input[type=textarea]:focus {
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 0px 0px #62466B, 2px 2px 0px 0px #B5FFE1;
  }
  25% {
    box-shadow: -2px 2px 0px 0px #62466B, 2px -2px 0px 0px #B5FFE1;
  }
  50% {
    box-shadow: 2px 2px 0px 0px #62466B, -2px -2px 0px 0px #B5FFE1;
  }
  75% {
    box-shadow: 2px -2px 0px 0px #62466B, -2px 2px 0px 0px #B5FFE1;
  }
  100% {
    box-shadow: -2px -2px 0px 0px #62466B, 2px 2px 0px 0px #B5FFE1;
  }
}
.footer-section {
  text-align: center;
  background-color: black;
  color: white;
  height: 50px;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section__pyramid-loader {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.footer-section__pyramid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
.footer-section__pyramid-loader .footer-section__pyramid-wrapper .side {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.footer-section__pyramid-loader .footer-section__pyramid-wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.footer-section__pyramid-loader .footer-section__pyramid-wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.footer-section__pyramid-loader .footer-section__pyramid-wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.footer-section__pyramid-loader .footer-section__pyramid-wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Maregy, sans-serif;
}

.highlighted-text {
  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 5px;
  font-size: 36px;
}

.highlighted-text--contact {
  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 2px;
  font-size: 24px;
}

.section-wrapper {
  box-shadow: 0px 0px 30px black inset;
}

/*# sourceMappingURL=main.css.map */
