.about-section {
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 5vh;
}

.about-section__wrapper2 {
    width: 60%;
    background-color: $color-two;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 15%;
    padding-top: 7%;
    box-shadow: 2px 2px 5px black inset;
}

.tile1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.tile2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.tile3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.tile4 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.tile5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.tile6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.about-section__wrapper1 {
    width: 40%;
    background-color: $color-one;
    box-shadow: 2px 2px 5px black inset;
}

.about-section__image {
    width: 60%;
    height: auto;
    margin-top: 20%;
    margin-left: 20%;
    box-shadow: 2px 2px 3px 2px black;   
    border-radius: 15px;     
}

.about-section__heading {
    font-size: 36px;
    margin-top: 15%;
    margin-left: 20%;
    letter-spacing: 1px;
}

.highlighted-text {
    color: transparent;
    -webkit-text-fill-color: $color-five;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    font-size: 36px;
}

.technologies {
    color: transparent;
    -webkit-text-fill-color: $color-five;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    font-size: 40px;
    padding-left: 7px;
}

.tile {
    width: 190px;
    height: 80px;
    box-shadow: 2px 2px 5px black inset;
    position: relative;
    top: -10px;
    right: 10px;
    border-radius: 15px;
    background-image: url("../media/digital-woman.jpg");
    background-position: left;
    background-size: cover;
}