.contact-section {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.contact-section__wrapper1 {
    width: 40%;
    background-color: $color-four;
    text-align: center;
}

.contact-section__wrapper2 {
    width: 60%;
    background-color: $color-three;
}

.contact-section__image {
    width: 60%;
    height: auto;
    margin-top: 20%;
    box-shadow: 2px 2px 3px 2px black;   
    border-radius: 15px;    
}

.contact-section__heading {
    font-size: 40px;
    color: transparent;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    padding-top: 10px;
}

.contact-section__detail-wrapper {
    padding: 1.5% 0 1.5% 5%;
}

.contact-section__text, .contact-section__note {
    font-size: 16px;
    letter-spacing: 1px;
}

input:active, textarea:active {
    outline-color: $color-one;
}

input, textarea {
    border-style: none;
    border-radius: 15px;
    padding: 0.5%;
}

input[type=text], input[type=email] {
    width: 27%;
}

.contact-section__form-button {
    margin: 2% 2% 2% 5%;
    padding: 0.5% 1.5%;
    letter-spacing: 1px;
    border-style: none;
    border-radius: 15px;
    background-color: $color-four;
    color: black;
}

input[type=text]:focus, input[type=textarea]:focus {
    animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 0px 0px $color-two, 2px 2px 0px 0px $color-four;
    }
    25% {
      box-shadow: -2px 2px 0px 0px $color-two, 2px -2px 0px 0px $color-four;
    }
    50% {
      box-shadow: 2px 2px 0px 0px $color-two, -2px -2px 0px 0px $color-four;
    }
    75% {
      box-shadow: 2px -2px 0px 0px $color-two, -2px 2px 0px 0px $color-four;
    }
    100% {
      box-shadow: -2px -2px 0px 0px $color-two, 2px 2px 0px 0px $color-four;
    }
}