.cv-section {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
}

.cv-section__wrapper1 {
    width: 40%;
    background-color: $color-two;
}

.cv-section__wrapper2 {
    width: 60%;
    background-color: $color-one;
}

.cv-section__heading {
    color: transparent;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    font-size: 40px;
    padding-left: 7px;
    text-align: center;
    padding-top: 10vh;
}

.cv-section__text {
    font-size: 36px;
    padding: 25vh 5vw 0 5vw;
}

.cv-section__image {
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px black; 
}