$color-one: #45364B;
$color-two: #62466B;
$color-three: #1A5E63;
$color-four: #B5FFE1;
$color-five: #d0a5c0;

@font-face {
    font-display: swap; 
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Pacifico/Pacifico-Regular.ttf') format('woff2');
}

@import "header-section";
@import "about-section";
@import "cv-section";
@import "project-section";
@import "contact-section";
@import "footer-section";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Pacifico;
}

.highlighted-text {
    color: transparent;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    font-size: 36px;
}

.highlighted-text--contact {
    color: transparent;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 2px;
    font-size: 24px;
}